.relative {
  position: relative;
}

.connectTripPage {
  padding: 50px;
  gap: 50px 100px;
}

.connectTripContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto; 
  gap: 10px;
  padding: 10px;

}

.mostRecentContainer {  
  grid-column-start: 1;
  grid-column-end: 3;
}

.secondTripContainer {  
  grid-column-start: 3;
  grid-column-end: 4;

}

.allOtherTripsContainer { 
  display: grid; 
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.bottomTrips { 
  display: flex; 
  flex-direction: column; 
}

.trip_image:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.trip_image {
  width: 75%;
  padding: 30px;
  opacity: 0.75;
  filter: alpha(opacity=40);
}

.subscribe_tripbody {
  padding: 1rem;
  margin: 1rem;
}

.viewCommentsButton,
.addCommentsButton {
  margin: 3px;
  border-radius: 20px;
  font-size: small;
  padding: 5px 10px;
}

.reactionsContainer {
  margin-left: auto;
  padding-top: 10px;
}

.travelerName {
  padding-bottom: 8px;
}