.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: #131313;
    color: #fffeee;
    /* padding: 10px; */
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}

.react-calendar__navigation {
    display: flex;
    height: 50px; 
    margin: 5px; 
    background-color: #131313;
    color: #fffeee;
   
}

.react-calendar__navigation__label, .react-calendar__navigation__arrow {
    font-weight: bold;
    width: 100%;
    background-color: #131313;
    color: #fffeee;
    padding: 10px; 
}

.react-calendar__month-view__weekdays {
    text-align: center;
 
}


button {
    background-color: #fffeee;
    width: 12%;
    height: 50px;
    font-size: 0.7em;
    box-shadow: 0 0px 1px #393939;
}

.react-calendar__tile {
    max-width: 100px;
}

.react-calendar__tile {
    max-width: 100%;
}