.travelersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    padding: 10px;
    color: papayawhip;
}

.detailPage{ 
    margin: auto;
    width: 50%;
    color: papayawhip;
    padding: 10px;
}

.travelersList { 
    margin: auto;
    width: 30%;
    padding: 10px;
}


.travelerPhotoBio {
    display: flex;
    flex-direction: column;
}

.travelerHeader {
    font-weight: bolder;
    font-size: 45px;
    margin-left: 25px;
    color: papayawhip;
}

.travelerDetailContainer {
    margin: auto;
    width: 70%;
    padding: 20px;
    text-align: center;
    color: papayawhip;

}

.travelerDetailImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.75;
    filter: alpha(opacity=40);
    border-radius: 1%;
}

.detailImage {
    width: 500px;
    height: 500px;
}

.travelerDetailImage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.travelerSubtitle {
    font-size: 25px;
}

.travelerLabel {
    font-size: 18px;
}