@import 'bulma/css/bulma.css';
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Vidaloka&display=swap');

/* @media (max-width: 750px) {
  #background-video {
    display: none;
  }

  body {
    background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
    background-size: cover;
  }
} */

@media screen and (min-width: 768px) {
  .myTripList {
    grid-template-columns: repeat(4, 1fr);
    /* align-items: start; */
  }
}

a:hover {
  text-decoration: none;
  color: lightgray;
}

html {
  background-color: #1c1c1c;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  /* font-family: 'Vidaloka', serif; */
  /* font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Vidaloka', serif; */
  /* font-family: 'Roboto Slab', serif; */
}

.registerLink,
.loginLink {
  color: white;
  padding: 20px;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: #131313;
  color: #cccccc;
}

.navbar,
.navbar-menu {
  background-color: #131313;
}

.navbar-menu {
  padding-left: 20px;
}

.navbar-brand,
.navbar-item,
.navbar-menu {
  font-size: 15px;
  background-color: #131313;
}

.navbar-item,
.navbar-link {
  color: papayawhip;
  padding-left: 10px;
  background-color: #131313;
}

.navbar-end {
  padding-right: 75px;
}

.navbar-button {
  padding-right: 25px;
}

.title,
.login,
.subtitle,
.label {
  color: papayawhip;
}

.hover:hover {
  opacity: 0.7;
}

.hover {
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.button {
  width: auto;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

select {
  padding: 5px; 
}