.goBack {
    padding: 50px 20px;
}

.tripHeader {
    font-weight: bolder;
    font-size: 45px;
    margin-left: 25px;
}

.tripSubtitle {
    font-size: 25px;
}

.tripLabel {
    font-size: 18px;
}

.filterMyTrips {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}

.myTripHome {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.tripImage {
    width: 100%;
}

.myTripList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tripBox {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
}

.tripBoxImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.75;
    filter: alpha(opacity=40);
    border-radius: 2%;
}

.tripBoxImage:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}


.myTrip {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.tripDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 75rem;
    padding: 20px;

}

.tripDetailImage { 
    border-radius: 2%; 
}

.editForm, .addNewTripForm, .newTripForm  {
    display: flex;
    flex-direction: column;
    width: 75rem;
    padding: 20px;
}

.singleTripMap {
    padding-left: 20px;
}
/* 
.addNewTripForm {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */


.tags { 
    display: flex; 
    flex-flow: row wrap; 
    align-content: flex-start;
    justify-content: flex-start;
    width: 50%; 
}

.tag,
.tagList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    padding: 5px; 
    margin: 5px; 

}

.tagLabel {
    margin-right: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 10px;
}

.radioLabel {
    margin-right: 15px;
    line-height: 30px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    color: #2e2029;
}

.radioButton {
    background-color: #090a0c;
}

.publishButton, .saveTripForm {
    width: 100px;
}

.addDestinationContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addDestinationButton {
    margin: 20px;
}