
.tripHeader {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 25px;
}

.myTripHome {
    display: inline-flex;
    flex-direction: column; 
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.tripImage {
    width: 100%;
}

.myTripList { 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
}

.myTrip {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

/* .singleTrip {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 75rem; 
    
} */

.addNewTripForm {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;

}

.tagLabel {
    margin-right: 15px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 10px;
}

.radioLabel {
    margin-right: 15px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #2e2029;
}

.radioButton {
    background-color: #090a0c;
}